@import 'templates/base';
@import 'templates/variables';
@import 'templates/mixins';
@import 'templates/easing';
@import 'templates/splash_screen';
@import 'templates/indicators';

$futura-bold: 'FuturaLT-CondensedBold';
@include fontFace($futura-bold);

$zindex-indicators-inactive: 9000;    //beneath the hotspot annotations
$zindex-indicators-active:   20000;   //above the hotspot annotations
$grey: #292929;
$red: #ec0000;


.vjs-control-bar {
  z-index: 9999 !important;
}
.vjs-big-play-button {
  display: none !important;
}
.vjs-fuisz-skin .vjs-control-bar .vjs-play-progress {
  background-color: $red;
}

.fuisz-rect {
  cursor: pointer;
}

#template_container {
  color: white;
}


  .indicator .circle,
  .sub-indicator {
    background-color: $red;
    border-radius: 50%;
    box-shadow: 0 1px 5px 0px rgba(0,0,0,0.3);
    cursor: pointer;
  }

.indicator {
  position: absolute;
  z-index: $zindex-indicators-inactive;

  &.active {
    z-index: $zindex-indicators-active;
    .circle {
      background-color: $grey;
      &:after,
      &:before {
        @include rotate(45);
      }
    }
    .sub-indicator {
      @include opacity(1);
    }
  }

  .circle {
    width: 30px;
    height: 30px;
    &:before,
    &:after {
      @include transition(all .25s $easeOut);
      position: absolute;
      content: '';
      background: $white;
    }
    &:before {
      width: 2px;
      height: 12px;
      top: 9px;
      left: 14px;
    }
    &:after {
      width: 12px;
      height: 2px;
      top: 14px;
      left: 9px;
    }
  }
}

.sub-indicator {
  position: absolute;
  width: 48px;
  height: 48px;
  @include opacity(0);
  @include transition(opacity .25s $easeOut, transform .4s $easeOutBack);

  &:hover,
  &.active {
    @include scale(1.1);
  }

  &.sub-indicator-n {
    top: -60px;
    left: -9px;
  }
  &.sub-indicator-s {
    bottom: -60px;
    left: -9px;
  }
  &.sub-indicator-e {
    right: -60px;
    top: -9px;
  }
  &.sub-indicator-w {
    left: -60px;
    top: -9px;
  }
  i {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 78%;
    background-position: center;
    background-repeat: no-repeat;
    &.twitter {
      background-image: url(../img/share-twitter.svg);
    }
    &.cart {
      background-image: url(../img/shopping-cart.svg);
      width: 90%; //offset centering
    }
    &.facebook {
      background-image: url(../img/share-facebook.svg);
    }
    &.coke-bottle {
      background-image: url(../img/coke-bottle.svg);
      width: 95%; //offset centering
    }
  }
}

.splash-screen {
  z-index: 1000;
  cursor: pointer;
  background-size: contain;
  background-position: center;
  background-color: $black;
  .splash__btn-play-wrapper {
    display: none;
  }
}

.init-cta {
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
  @include translate(-50%, -50%);
  @include opacity(0);

  &, img {
    @include transition(opacity 0.5s);
  }

  &.active {
    display: block;
  }
  &.is-visible {
    @include opacity(1);
  }
}

.cta {
  font-family: $futura-bold;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 19px;
  padding: 10px 0;
  cursor: pointer;

  // crappy
  position: absolute;
  bottom: 20px;
  width: 140px;

  @include transition(transform .1s $easeOut);
  &:hover {
    @include scale(1.025);
  }

  &.cta-white {
    color: $red;
    background-color: $white;
  }
  &.cta-red {
    color: $white;
    background-color: $red;
  }
}

$drawer-width: 180px;

.drawer {
  position: absolute;
  width: $drawer-width;
  height: 100%;
  z-index: 9998;
  right: 0px;
  top: 0px;
  background-color: black;
  cursor: default !important;
  @include transition(transform 0.5s);
  &.hidden {
    @include translate(100%,0%);
    .drawer-nav,
    .drawer-close-btn {
      display: none;
    }
  }

  .drawer-close-btn {
    position: absolute;
    top: 0px;
    left: -40px;
    width: 40px;
    height: 40px;
    background: url(../img/drawer-close.png) center center no-repeat;
    cursor: pointer;
    @include opacity(0.5);
    @include transition(opacity .1s $easeOut);
    &:hover {
      @include opacity(1);
    }
  }

  .drawer-nav {
    cursor: pointer;
    position: absolute;
    width: 40px;
    top: 50%;
    left: -40px;
    opacity: 0.7;
    @include translate(0%,-50%);

    .blip {
      width: 40px;
      height: 30px;
      padding: 15px;
      margin: 0;

      &:after {
        display: block;
        margin: 0 auto;
        content: '';
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: gray;
        @include transition(background-color .2s $easeOut);
      }

      &:hover,
      &.on {
        &:after {
          background-color: white;
        }
      }
    }
  }
  .drawer-position {
    height: 400%;
    @include transition(all 0.9s);

    &.p0 {@include translate(0%,0%);}
    &.p1 {@include translate(0%,-25%);}
    &.p2 {@include translate(0%,-50%);}
    &.p3 {@include translate(0%,-75%);}

    // normal zoom until map fully revealed
    &.p1.transition .drawer-content .map {
      background-size: 280px 235px;
      background-position: center center;
    }
    &.p1:not(.transition) .drawer-content .map {
      background-size: 900px 808px;
      background-position: -132px -289px;;
      @include transition(all 0.75s);
    }
    // remain zoomed until map fully offscreen
    &.p2.transition .drawer-content .map {
      background-size: 900px 808px;
      background-position: -132px -289px;
      @include transition(all 0.75s);
    }
    &.p2:not(.transition) .drawer-content .map {
      background-size: 280px 235px;
      background-position: center center;
    }
    &.p0.transition .drawer-content .map {
      background-size: 900px 808px;
      background-position: -132px -289px;
      @include transition(all 0.75s);
    }

  }
  .drawer-section {
    position: relative;
    height: 25%;
  }

  .drawer-content {
    position: absolute;
    width: 100%;
    height: 540px;
    bottom: 50%;
    padding: 16px;
    &.no-pad {
      padding: 0;
    }
    background-color: $grey;
    text-align: left;
    @include translate(0%,50%);

    h1 {
      font-family: $futura-bold;
      font-size: 16px;
      line-height: 100%;
      margin-bottom: 0px;
      text-transform: uppercase;
    }

    p {
      font-size: 12px;
      line-height: 15px;
      margin-top: 10px;
    }

    .social-header {
      height: 38px;
      background-color: $red;
      color: $white;
      font-size: 12px;
      padding: 14px 10px;

      .link-out {
        display: inline-block;
        float: right;
        text-decoration: none;
        color: $white;
      }
    }
  }

  .section0 .drawer-content {
    background-color: $red;
    text-align: center;
    h1 {
      text-align: left;
    }
    img {
      display: block;
      margin: 20px auto;
    }
    .price {
      font-size: 38px;
      font-family: $futura-bold;
      margin: 20px auto;
    }
  }

  .section1 .drawer-content {
    background: $white;
    iframe {
      width: 100%;
      height: 500px;  // okay?
      border: 0;
    }
  }

  .section2 .drawer-content{
  }

  .section3 .drawer-content{
    background: url(../img/drawer-bg-3-fade.png) no-repeat;
  }

  .section4 {
    .drawer-video {
      margin: 20px 0 15px -16px;
      width: $drawer-width;
      cursor: pointer;
      img {
        width: 100%;
        height: auto;
      }
    }

    .video-button {
      position: absolute;
      width: 36px;
      height: 36px;
      background-color: black;
      left: 50%;
      margin-left: -18px;
      top: 50%;
      margin-top: -16px;
      cursor: pointer;
      &:hover {
        background-color: gray;
      }
      &::after{
        font-family: VideoJS;
        content: "\e001";
        color: white;
        font-size: 21px;
        position: absolute;
        left: 9px;
        top: 7px;
      }
    }
  }
}

.video-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;
  &.hidden {
    display: none;
  }
  .video-scrim {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
  }
  .video-frame {
    position: absolute;
    width: 560px;
    height: 315px;
    top: 50%;
    margin-top: -157px;
    left: 50%;
    margin-left: -280px;
  }
}

.social-modal{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 9999;
  &.hidden {
    display: none;
  }
  .social-scrim {
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.65;
  }
  .social-buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    div {
      display: inline-block;
      width: 90px;
      height: 90px;
      cursor: pointer;
      opacity: 0.75;
      border: 2px solid white;
      border-radius: 50%;
      &:hover {
        opacity: 1;
        background-size: 120%;
      }
    }
    .email {
      background: url(../img/share-email.svg) no-repeat center;
      margin-right: 15px;
    }
    .facebook {
      background: url(../img/share-facebook.svg) no-repeat center;
    }
    .twitter {
      background: url(../img/share-twitter.svg) no-repeat center;
      margin-left: 15px;
    }
  }
}




/* ------------------------------------------------------------ */
/* MEDIA QUERIES */
/* ------------------------------------------------------------ */
@media screen and (max-height: 540px) {
  .drawer {
    .drawer-content {
      padding-bottom: 39px;
      bottom: 0px;
      @include translate(0%,0%);
      height: 100%;
    }
  }
}

@media all and (max-width: $tablet-max-width) {

}

@media all and (max-width: $mobile-max-width) {

}
